# Data Analysis on No-Show Data (Course Project)

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import datetime

In [2]:
% matplotlib inline

In [35]:
df=pd.read_csv('Appointment-No-Show-Data.csv')
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,29872499824296,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,558997776694438,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4262962299951,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,867951213174,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8841186448183,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,95985133231274,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No
6,733688164476661,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3449833394123,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,56394729949972,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,78124564369297,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No
10,734536231958495,5630213,F,2016-04-27T14:58:11Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,No
11,7542951368435,5620163,M,2016-04-26T08:44:12Z,2016-04-29T00:00:00Z,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
12,566654781423437,5634718,F,2016-04-28T11:33:51Z,2016-04-29T00:00:00Z,22,NOVA PALESTINA,1,0,0,0,0,0,No
13,911394617215919,5636249,M,2016-04-28T14:52:07Z,2016-04-29T00:00:00Z,28,NOVA PALESTINA,0,0,0,0,0,0,No
14,99884723334928,5633951,F,2016-04-28T10:06:24Z,2016-04-29T00:00:00Z,54,NOVA PALESTINA,0,0,0,0,0,0,No
15,99948393975,5620206,F,2016-04-26T08:47:27Z,2016-04-29T00:00:00Z,15,NOVA PALESTINA,0,0,0,0,0,1,No
16,84574392942817,5633121,M,2016-04-28T08:51:47Z,2016-04-29T00:00:00Z,50,NOVA PALESTINA,0,0,0,0,0,0,No
17,14794966191172,5633460,F,2016-04-28T09:28:57Z,2016-04-29T00:00:00Z,40,CONQUISTA,1,0,0,0,0,0,Yes
18,17135378245248,5621836,F,2016-04-26T10:54:18Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,1,0,0,0,0,1,No
19,7223289184215,5640433,F,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,46,DA PENHA,0,0,0,0,0,0,No
20,622257462899397,5626083,F,2016-04-27T07:51:14Z,2016-04-29T00:00:00Z,30,NOVA PALESTINA,0,0,0,0,0,0,Yes
21,12154843752835,5628338,F,2016-04-27T10:50:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,Yes
22,863229818887631,5616091,M,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,13,CONQUISTA,0,0,0,0,0,1,Yes
23,213753979425692,5634142,F,2016-04-28T10:27:05Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,0,0,0,0,0,No
24,8734857996885,5641780,F,2016-04-29T14:19:19Z,2016-04-29T00:00:00Z,65,TABUAZEIRO,0,0,0,0,0,0,No
25,5819369978796,5624020,M,2016-04-26T15:04:17Z,2016-04-29T00:00:00Z,46,CONQUISTA,0,1,0,0,0,1,No
26,25787851512,5641781,F,2016-04-29T14:19:42Z,2016-04-29T00:00:00Z,45,BENTO FERREIRA,0,1,0,0,0,0,No
27,12154843752835,5628345,F,2016-04-27T10:51:45Z,2016-04-29T00:00:00Z,4,CONQUISTA,0,0,0,0,0,0,No
28,5926171692527,5642400,M,2016-04-29T15:48:02Z,2016-04-29T00:00:00Z,51,SÃƒO PEDRO,0,0,0,0,0,0,No
29,1225776163665,5642186,F,2016-04-29T15:16:29Z,2016-04-29T00:00:00Z,32,SANTA MARTHA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,793589177751417,5757745,M,2016-06-01T09:46:33Z,2016-06-01T00:00:00Z,76,MARIA ORTIZ,0,0,0,0,0,0,No
110498,94336536145654,5787655,F,2016-06-08T10:21:14Z,2016-06-08T00:00:00Z,59,MARIA ORTIZ,0,0,0,0,0,0,No
110499,821969177626116,5757697,F,2016-06-01T09:42:56Z,2016-06-01T00:00:00Z,66,MARIA ORTIZ,0,1,1,0,0,0,No
110500,443438443334614,5787233,F,2016-06-08T09:35:13Z,2016-06-08T00:00:00Z,59,MARIA ORTIZ,0,0,0,0,0,0,No
110501,454425189389,5758133,M,2016-06-01T10:19:12Z,2016-06-01T00:00:00Z,44,MARIA ORTIZ,0,0,0,0,0,0,No
110502,731622885364982,5787937,F,2016-06-08T10:50:42Z,2016-06-08T00:00:00Z,22,GOIABEIRAS,0,0,0,0,0,0,No
110503,23621816822757,5759473,F,2016-06-01T13:00:36Z,2016-06-01T00:00:00Z,64,SOLON BORGES,0,0,0,0,0,0,No
110504,9947982555566,5788052,F,2016-06-08T11:06:21Z,2016-06-08T00:00:00Z,4,MARIA ORTIZ,0,0,0,0,0,0,No
110505,56673438855979,5758455,F,2016-06-01T10:45:50Z,2016-06-01T00:00:00Z,55,MARIA ORTIZ,0,0,0,0,0,0,No
110506,897388334326,5758779,M,2016-06-01T11:09:20Z,2016-06-01T00:00:00Z,5,MARIA ORTIZ,0,0,0,0,0,0,No
110507,476946211846992,5786918,F,2016-06-08T09:04:18Z,2016-06-08T00:00:00Z,0,MARIA ORTIZ,0,0,0,0,0,0,No
110508,94336536145654,5757656,F,2016-06-01T09:41:00Z,2016-06-01T00:00:00Z,59,MARIA ORTIZ,0,0,0,0,0,0,No
110509,495296829375937,5786750,M,2016-06-08T08:50:51Z,2016-06-08T00:00:00Z,33,MARIA ORTIZ,0,0,0,0,0,0,No
110510,23621816822757,5757587,F,2016-06-01T09:35:48Z,2016-06-01T00:00:00Z,64,SOLON BORGES,0,0,0,0,0,0,No
110511,823599626588,5786742,F,2016-06-08T08:50:20Z,2016-06-08T00:00:00Z,14,MARIA ORTIZ,0,0,0,0,0,0,No
110512,98762456447375,5786368,F,2016-06-08T08:20:01Z,2016-06-08T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0,No
110513,86747784995281,5785964,M,2016-06-08T07:52:55Z,2016-06-08T00:00:00Z,2,ANTÃ”NIO HONÃ“RIO,0,0,0,0,0,0,No
110514,2695685177138,5786567,F,2016-06-08T08:35:31Z,2016-06-08T00:00:00Z,58,MARIA ORTIZ,0,0,0,0,0,0,No
110515,645634214296344,5778621,M,2016-06-06T15:58:05Z,2016-06-08T00:00:00Z,33,MARIA ORTIZ,0,1,0,0,0,0,Yes
110516,69237724436761,5780205,F,2016-06-07T07:45:16Z,2016-06-08T00:00:00Z,37,MARIA ORTIZ,0,0,0,0,0,0,Yes
110517,5574942418928,5780122,F,2016-06-07T07:38:34Z,2016-06-07T00:00:00Z,19,MARIA ORTIZ,0,0,0,0,0,0,No
110518,72633149253362,5630375,F,2016-04-27T15:15:06Z,2016-06-07T00:00:00Z,50,MARIA ORTIZ,0,0,0,0,0,1,No
110519,65423877893936,5630447,F,2016-04-27T15:23:14Z,2016-06-07T00:00:00Z,22,MARIA ORTIZ,0,0,0,0,0,1,No
110520,996997666245785,5650534,F,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,42,MARIA ORTIZ,0,0,0,0,0,1,No
110521,36355337746436,5651072,F,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,53,MARIA ORTIZ,0,0,0,0,0,1,No
110522,2572134369293,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3596266328735,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,15576631729893,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,92134931435557,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,377511518121127,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [39]:
df['ScheduledDay']=df['ScheduledDay'].str[:10]
df['AppointmentDay']=df['AppointmentDay'].str[:10]

In [40]:
df['ScheduledDay']=pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay']=pd.to_datetime(df['AppointmentDay'])

In [41]:
#Adding Day of the Week starting Monday as 0
df['WeekdayAppointment']=df['AppointmentDay'].dt.dayofweek

In [42]:
df['WeekdayScheduled']=df['ScheduledDay'].dt.dayofweek

In [43]:
# Q-1 (Added WeekdayAppointment and WeekdayScheduled)
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekdayAppointment,WeekdayScheduled
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,4,4
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,4,4
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,4,4
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,4,4
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,4,4
5,95985133231274,5626772,F,2016-04-27,2016-04-29,76,REPÃšBLICA,0,1,0,0,0,0,No,4,2
6,733688164476661,5630279,F,2016-04-27,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes,4,2
7,3449833394123,5630575,F,2016-04-27,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes,4,2
8,56394729949972,5638447,F,2016-04-29,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No,4,4
9,78124564369297,5629123,F,2016-04-27,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No,4,2
10,734536231958495,5630213,F,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No,4,2
11,7542951368435,5620163,M,2016-04-26,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes,4,1
12,566654781423437,5634718,F,2016-04-28,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No,4,3
13,911394617215919,5636249,M,2016-04-28,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No,4,3
14,99884723334928,5633951,F,2016-04-28,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No,4,3
15,99948393975,5620206,F,2016-04-26,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No,4,1
16,84574392942817,5633121,M,2016-04-28,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No,4,3
17,14794966191172,5633460,F,2016-04-28,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes,4,3
18,17135378245248,5621836,F,2016-04-26,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No,4,1
19,7223289184215,5640433,F,2016-04-29,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No,4,4
20,622257462899397,5626083,F,2016-04-27,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes,4,2
21,12154843752835,5628338,F,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes,4,2
22,863229818887631,5616091,M,2016-04-25,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes,4,0
23,213753979425692,5634142,F,2016-04-28,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No,4,3
24,8734857996885,5641780,F,2016-04-29,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No,4,4
25,5819369978796,5624020,M,2016-04-26,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No,4,1
26,25787851512,5641781,F,2016-04-29,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No,4,4
27,12154843752835,5628345,F,2016-04-27,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No,4,2
28,5926171692527,5642400,M,2016-04-29,2016-04-29,51,SÃƒO PEDRO,0,0,0,0,0,0,No,4,4
29,1225776163665,5642186,F,2016-04-29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,793589177751417,5757745,M,2016-06-01,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110498,94336536145654,5787655,F,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110499,821969177626116,5757697,F,2016-06-01,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,0,No,2,2
110500,443438443334614,5787233,F,2016-06-08,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110501,454425189389,5758133,M,2016-06-01,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110502,731622885364982,5787937,F,2016-06-08,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,0,No,2,2
110503,23621816822757,5759473,F,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No,2,2
110504,9947982555566,5788052,F,2016-06-08,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110505,56673438855979,5758455,F,2016-06-01,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110506,897388334326,5758779,M,2016-06-01,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110507,476946211846992,5786918,F,2016-06-08,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110508,94336536145654,5757656,F,2016-06-01,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110509,495296829375937,5786750,M,2016-06-08,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110510,23621816822757,5757587,F,2016-06-01,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No,2,2
110511,823599626588,5786742,F,2016-06-08,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110512,98762456447375,5786368,F,2016-06-08,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110513,86747784995281,5785964,M,2016-06-08,2016-06-08,2,ANTÃ”NIO HONÃ“RIO,0,0,0,0,0,0,No,2,2
110514,2695685177138,5786567,F,2016-06-08,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,0,No,2,2
110515,645634214296344,5778621,M,2016-06-06,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,Yes,2,0
110516,69237724436761,5780205,F,2016-06-07,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,0,Yes,2,1
110517,5574942418928,5780122,F,2016-06-07,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,0,No,1,1
110518,72633149253362,5630375,F,2016-04-27,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,1,No,1,2
110519,65423877893936,5630447,F,2016-04-27,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,1,No,1,2
110520,996997666245785,5650534,F,2016-05-03,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,1,No,1,1
110521,36355337746436,5651072,F,2016-05-03,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,1,No,1,1
110522,2572134369293,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No,1,1
110523,3596266328735,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No,1,1
110524,15576631729893,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No,1,2
110525,92134931435557,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No,1,2
110526,377511518121127,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No,1,2

In [44]:
df2=df[(df['WeekdayScheduled']==5) | (df['WeekdayScheduled']==6)]

In [45]:
df2.shape

(24, 16)

In [46]:
# Q-2. Yes, there are 24 appointments in the date that are scheduled during the weekends!

In [47]:
df3=df[(df['WeekdayAppointment']==5) | (df['WeekdayAppointment']==6)]

In [48]:
df3.shape

(39, 16)

In [49]:
# Q-3. Yes there are 39 appointments made during the Weekends

Q-4. For checking inconsistency in any column of the data

In [51]:
df_inconsistentdates=df[df['ScheduledDay']>df['AppointmentDay']]
df_inconsistentdates

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekdayAppointment,WeekdayScheduled
27033,7839272661752,5679978,M,2016-05-10,2016-05-09,38,RESISTÃŠNCIA,0,0,0,0,1,0,Yes,0,1
55226,7896293967868,5715660,F,2016-05-18,2016-05-17,19,SANTO ANTÃ”NIO,0,0,0,0,1,0,Yes,1,2
64175,24252258389979,5664962,F,2016-05-05,2016-05-04,22,CONSOLAÃ‡ÃƒO,0,0,0,0,0,0,Yes,2,3
71533,998231581612122,5686628,F,2016-05-11,2016-05-05,81,SANTO ANTÃ”NIO,0,0,0,0,0,0,Yes,3,2
72362,3787481966821,5655637,M,2016-05-04,2016-05-03,7,TABUAZEIRO,0,0,0,0,0,0,Yes,1,2

There are 5 records with Inconsistent Date Values

In [17]:
unique_patients=df.PatientId.unique()
print(unique_patients.size)

62299

In [18]:
df.groupby(['PatientId','Gender']).size().shape

(62299,)

Since both, the count of Unique Patients and the Count of Unique Patient-Gender combinations is the same
 we can conclude that each patient has a unique gender value

In [20]:
df.groupby(['PatientId','Handcap']).size().shape

(62299,)

Since both, the count of Unique Patients and the Count of Unique Patient-Handicap combinations is the same
we can conclude that each patient has a unique handicap value

In [22]:
df.groupby(['PatientId','Scholarship']).size().shape

(62299,)

Since both, the count of Unique Patients and the Count of Unique Patient-Scholarship combinations is the same
we can conclude that each patient has a unique Scholarship value

In [25]:
df4=df.groupby(['PatientId']).count().reset_index()
df4=df4[['PatientId','AppointmentID']]

In [26]:
df_merge=df.merge(df4, how='left', on='PatientId')

In [27]:
df_merge=df_merge[df_merge['AppointmentID_y']>1].reset_index()

In [70]:
x = df_merge.sort_values('PatientId', ascending=False)
x=x[['PatientId','AppointmentDay','Age']]
x

          PatientId AppointmentDay  Age
68383  9.999320e+14     2016-06-07   90
41555  9.999320e+14     2016-05-17   90
41598  9.999320e+14     2016-05-04   90
22285  9.999320e+14     2016-05-25   90
22275  9.999320e+14     2016-05-17   90
51575  9.998774e+14     2016-05-05   13
58009  9.998774e+14     2016-06-06   13
32277  9.998318e+14     2016-05-06   57
32188  9.998318e+14     2016-05-18   57
44007  9.998318e+14     2016-05-02   57
32140  9.998318e+14     2016-05-10   57
70782  9.997437e+14     2016-06-08   24
56283  9.997437e+14     2016-06-03   24
34091  9.996275e+14     2016-05-09   77
52903  9.996275e+14     2016-05-30   77
34092  9.996275e+14     2016-05-16   77
34093  9.996275e+14     2016-05-16   77
34585  9.994792e+14     2016-05-02   44
34588  9.994792e+14     2016-05-30   45
53436  9.994792e+14     2016-05-09   44
31082  9.994717e+14     2016-05-12   36
31062  9.994717e+14     2016-05-19   36
63493  9.994717e+14     2016-06-06   36
51730  9.993364e+14     2016-05-05   40
53986  9.993364e+14     2016-05-05   40
47022  9.992778e+14     2016-05-05   21
47021  9.992778e+14     2016-05-05   21
59191  9.992778e+14     2016-06-07   21
26363  9.989427e+14     2016-05-25   47
968    9.989427e+14     2016-04-29   47
...             ...            ...  ...
53212  2.699191e+08     2016-05-20    0
71079  2.515415e+08     2016-06-01   85
11397  2.515415e+08     2016-05-19   85
32270  2.515415e+08     2016-05-13   85
32209  2.515415e+08     2016-05-25   85
56106  2.237986e+08     2016-06-02   21
56654  2.237986e+08     2016-06-01   21
58499  2.111247e+08     2016-06-02   56
58699  2.111247e+08     2016-06-08   56
43781  1.889645e+08     2016-05-24   32
11563  1.889645e+08     2016-05-20   32
46138  1.889645e+08     2016-05-18   32
29630  1.781682e+08     2016-05-02   62
37120  1.781682e+08     2016-05-02   62
22323  1.562232e+08     2016-05-13   74
22243  1.562232e+08     2016-05-24   74
19340  1.421333e+08     2016-05-16   80
67887  1.421333e+08     2016-06-07   80
17547  1.224513e+08     2016-05-02   28
24404  1.224513e+08     2016-05-09   28
50065  8.799645e+07     2016-05-13    3
69041  8.799645e+07     2016-06-08    3
38963  7.922850e+07     2016-05-30   21
58320  7.922850e+07     2016-06-08   21
7736   6.485121e+07     2016-05-13   29
4374   6.485121e+07     2016-05-17   29
33326  5.216894e+07     2016-05-17   28
55226  5.216894e+07     2016-05-16   28
39346  2.263866e+07     2016-05-03   22
57853  2.263866e+07     2016-06-08   23

[72607 rows x 3 columns]

Ques 5. Checking for negative ages

In [29]:
wrong_age=len(df[df['Age']<0])
wrong_age

1

There is one Illegitimate age entry.

In [71]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,WeekdayAppointment,WeekdayScheduled
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,1.858243,1.851955
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,1.371672,1.378520
min,3.921800e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,3.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,5.000000,5.000000

It seems age has negative entry but in rest of other columns, there didn't seem inconsistent data entry

In [31]:
df_age_outliers=len(df[df['Age']>100])
df_age_outliers

7

 There are 7 outliers with respect to Age in the Data.

In [73]:
# Removing these outliers
df=df[df['Age']<=100]
df.shape

(110520, 16)

Since other columns are binary and nominal, there are no observed outliers in any other columns except age by looking mean and min max in the description.